@font-face {
  font-family: IranSans;
  src: url(../font/WebFonts/fonts/woff/IRANSansWeb.woff);
}

.body {
  font-family: IranSans;
}

.right-navigation {
  width: 20%;
  height: 100%;
  right: 0;
  position: relative;
  float: right;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.28);
  background-color: #ffffff;
  text-align: center;
  position: absolute;
}
.user-pic {
  width: 7.174vw;
  height: 7.174vw;
  object-fit: contain;
  margin-top: 1.24vw;
  position: relative;
}
.online-sign {
  width: 1.46vw;
  height: 1.46vw;
  background-color: #2dc500;
  display: inline-block;
  position: absolute;
  top: 1.46vw;
  right: 7vw;
}
.name {
  font-family: IranSans;
}
.first-name,
.last-name {
  height: 14px;
  text-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.16);
  font-family: IRANSans;
  font-size: 1.31vw;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #023232;
  top: 4.75vw;
}
.role {
  font-size: 1.17vw;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
  top: 12vw;
}
.top-navigation {
  height: 3.513vw;
  width: 80%;
  top: 0;
  position: relative;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.28);
  background-color: #ffffff;
  float: left;
}

.menu-icon {
  width: 3.36vw;
  height: 1.75vw;
  float: right;
  margin-top: 0.88vw;
}
.user-info {
  height: 3.513vw;
  width: 80%;
  top: 0;
  position: relative;
  left: 5.12vw;
  display: inline-block;
}
.algo-pars {
  font-size: 1.24vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.59;
  letter-spacing: normal;
  color: #707070;
  margin-top: 0.88vw;
}
.arrow-down {
  color: darken($color: #707070, $amount: 0);
  margin-top: 0.88vw;
}
.setting-icon {
  color: #000000;
  margin-left: 3.9vw;
  margin-top: 0.88vw;
}
.user-icon {
  margin-top: 0.88vw;
}
